body {
  margin: 0;
  background: #cceeff; /* ciel */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#gameCanvas {
  border: 2px solid black;
  background: #66cc66; /* herbe */
}

#hud {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
}
